

<form class="container form " [formGroup] = "form" (submit)="submit()">
  <h1 class="text-center mb-5 text-white">Login</h1>
  <div class="mb-3 ">  
    <input type="email" formControlName="email" class="form-control" id="email" placeholder="name@lsi.fstt.ma">
  </div>

  <div class="mb-3 ">
    <input type="password" formControlName="password" class="form-control" id="password" placeholder="********">
  </div>

  <div class="mb-3 text-center ">
    <input type="submit" class="btn btn-light" value="Login">
  </div>

</form>