a{
    cursor: pointer;
}

.form-control{
    width : 15% !important;
    margin: 0 auto !important;
    height: 38px;
}
.form-select{
    width: 15% !important;
    margin-top: 0 auto !important;
    height: 38px;
}

.btn{
    margin-top: 0 auto;
}