<nav class="navbar navbar-dark bg-dark">
    <ul class="navbar-nav mx-3 mr-auto">
      <li class="nav-item active">
        <a routerLink="/" class="nav-link">Home</a>
      </li>
    </ul>
  <div class="nav justify-content-end">
    <div  id="log" class="navbar-nav">
      <a routerLink="/login" *ngIf="!loggedin" class="nav-link">Login</a>
      <a  routerLink="/" *ngIf="loggedin" (click) = "logout()" class="nav-link">Logout</a>
    </div>
    <div  id="name" class="navbar-nav mx-3">
        <a routerLink="/admin" *ngIf="admin" class="nav-link my-2">{{user}}</a>
        <a routerLink="/student" *ngIf="student" class="nav-link my-2">{{user}}</a>
        <a routerLink="/prof" *ngIf="prof" class="nav-link my-2">{{user}}</a>
        <a routerLink="/" *ngIf="guest" class="nav-link my-2">{{user}}</a>
    </div>
    <ngx-avatar [name]="user" class="mx-2"></ngx-avatar>
  </div>
  </nav>
  <div class="container mt-4">
    <router-outlet></router-outlet>
</div>