<div class="container row justify-content-center mt-5">
    <div class="card text-white bg-dark mb-3 col-3" style="max-width: 18rem;">
        <div class="card-header"><i class="bi bi-person"></i> <span> Nombre d'étudiants</span></div>
        <div class="card-body">
            <h5 class="card-title">{{Students}} étudiants</h5>
        </div>
    </div>
    <div class="col-1"></div>
    <div class="card text-white bg-dark mb-3 col-3" style="max-width: 18rem;">
        <div class="card-header"><i class="bi bi-person"></i> <span> Nombre de professeurs</span></div>
        <div class="card-body">
            <h5 class="card-title">{{profs}} professeurs</h5>
        </div>
    </div>
    <div class="col-1"></div>
    <div class="card text-white bg-dark mb-3 col-3" style="max-width: 18rem;">
        <div class="card-header"><i class="bi bi-book"></i> <span> Nombre de Modules </span></div>
        <div class="card-body">
            <h5 class="card-title">{{Modules}} Modules</h5>
        </div>
    </div>
</div>

